* {
    margin: 0;
    font-family: sans-serif;
}


::-webkit-scrollbar {
    width: 0.88rem;
   }
   
  ::-webkit-scrollbar-track {
    border: 7px solid #292c3b;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background-color: #d4d4d8;
    }
   
  ::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 2px;
  }
   
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
   
  /* for Firefox */
   html {scrollbar-color: #9e4673 #3d4a59;} 

header {
    margin-bottom: 90px;
    background-color: #15d7e1;

    color: aliceblue;
    border-radius: 0 0 70px 70px;

}

header h1 {
    margin-bottom: 18px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 10px 0px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #15d7e1;
    border-radius: 13px;
    padding: 1px;
}

ul li a {
    color: white;
    text-decoration: none;
    margin-top: 6px;
    display: inline-block;
}

ul li a:hover {
    border-bottom: 2px solid red;
    font-size: 18px;
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 18px;
}



.mode {
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    color: white;
    background-color:transparent;
    border: 1.5px solid #ddd;
    cursor: pointer;
    font-size: 1.2rem;
}

section {
    margin-bottom: 100px;
    box-shadow: 5px 5px 25px rgb(223, 185, 185);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    padding: 20px 0;
}

.L,
.R {
    width: 49%;
    text-align: center;
    margin-top: 60px;
}

.x {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.myprof {
    border-radius: 50%;
    width: 150px;
    border-right: 4px solid pink;
    border-left: 4px solid #ff8a00;
    border-top: 4px solid rgb(152, 27, 98);
    border-bottom: 4px solid rgb(229, 183, 15);
}

h5 {
    font-size: 27px;
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 10px;
    color: #15d7e1;
}

.para {
    font-size: 20px;
}

.L h3 {
    font-size: 26px;
    margin: 20px 0;
}

.L p {
    font-size: 20px;
    margin: 25px 0;
}

.youtube,
.facebook {
    background-color: royalblue;
    color: white;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
}

.youtube {
    background-color: red;

}

footer {
    text-align: center;

}


.follow {
    box-shadow: 0px 30px rgb(red, green, blue) 30%;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
    margin: 0 auto 10px;
    border-top: 15px solid #15d7e1;

    width: 98%;
}

.desing {
    padding: 20px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 35px;
    margin-bottom: 5px;
    background-color: #15d7e1;

}

.des {
    background-color: #15d7e1;
    border-radius: 7px;
    margin-left: 20px;
    margin-right: 20px;
}


.follow a {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 4px 10px;
    text-decoration: none;

}

.dark footer {
    background-color: rgb(43, 35, 35);
}

.follow a:hover {
    padding: 5px 12px;
    background-color: blue;
    color: white;
}

.card {
    display: inline-block;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid #15d7e1; */
    text-overflow: ellipsis;


}

.card-body {
    text-align: center;
    text-overflow: ellipsis;

}

.card {
    gap: 0px;


}

.container {
    width: 500px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 0;
    background-color: rgba(223, 14, 73, 0.689);
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    font-size: large;
    font-style: italic;

}

.container,
p {
    font-size: 20px;
}

.big-container {
    background-color: #15d7e1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;


}

.diiiv {
    margin-top: 30px;
    border-radius: 15px;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
}

.active {
    display: block !important;
}

.actiive {
    display: block;
}

.prc {
    font-style: italic;

}

.money {
    color: red;
}

.dark header {
    background-color: rgb(43, 35, 35);
}

.dark {
    background-color: rgb(43, 35, 35);

}

.dark header {
    border: 2px solid;
}

.dark h1 {
    color: #ddd;
    background-color: transparent;
}

.dark p {
    color: #ddd;
}

.dark h3 {
    color: #ddd;
   
}

.dark .card {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid #15d7e1; */
    text-overflow: ellipsis;
    gap: 0px;
    background-color: rgb(63, 50, 50);

}

.dark .card-body {
    text-align: center;
    text-overflow: ellipsis;

}

.dark .follow a:hover {
    background-color: rgb(223, 80, 104);
    border-radius: 10px
}
.dark section .diiiv {
    background-color: rgb(223, 80, 104);
}
.mode:hover{
    background-color: rgb(223, 80, 104);
    border: none;
}
.dark section h1{
    
    background-color:rgb(223, 80, 104) ;
}
.dark section .big-container{
    background-color:rgb(63, 50, 50);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;

}
.dark section .big-container p {
    color: black;
}
.dark section .container{
    background-color:rgb(243, 227, 10);;
}
.flexy{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dark section .put {
    color: white;
    font-size:larger;
    text-decoration: solid;
}
.js-buy {
    border: 1px solid red;
    background-color: red;
    text-decoration: none;
}
